@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  text-align: center;
  padding: 0 20px;
}

.header__title {
  font-size: 24px;
  text-transform: uppercase;
  @media (min-width: 768px) {
    font-size: 32px;
  }
}

.main {
  padding: 0 20px;
}

.form__label {
  display: block;
  margin-bottom: 2px;
  text-transform: uppercase;
}

.form__input {
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 10px;
  outline: none;
  border: none;
  background-color: #f1efef;
  &--message {
    height: 180px;
  }
}

.form__input::placeholder {
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  color: #b9b3b3;
}

.form__input:hover {
  background-color: #e9e5e5;
}

.form__input:focus {
  background-color: #dbd9d9;
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #76b7ec;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 40px;
}

.button:hover {
  background-color: #68a9de;
}

.button:active {
  background-color: #609dcf;
}
