@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  text-align: center;
  padding: 0 20px;
  margin-bottom: 10px;
  @media (min-width: 650px) {
    padding: 0 40px;
    margin-bottom: 20px;
  }
}

.header__title {
  font-size: 22px;
  text-transform: uppercase;
  @media (min-width: 650px) {
    font-size: 32px;
  }
}

.main {
  padding: 0 20px;
  @media (min-width: 650px) {
    padding: 0 40px;
  }
}

.form {
  max-width: 800px;
  margin: 0 auto;
}

.form__text {
  display: block;
  text-align: right;
  font-size: 14px;
  opacity: 0.3;
  margin-bottom: 15px;
}

.form__top-block {
  @media (min-width: 650px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

.form__bottom-block {
  @media (min-width: 650px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.form__file-block {
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 400px;
}

.form__label {
  position: relative;
  display: block;
  margin-bottom: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.form__file-name {
  text-align: center;
}

.form__input {
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  padding: 10px;
  outline: none;
  border: none;
  background-color: #f1efef;
  transition: all 0.2s ease-in-out;
  &::placeholder {
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    color: #b9b3b3;
  }
  &:hover {
    background-color: #e9e5e5;
  }
  &:focus {
    background-color: #dbd9d9;
  }
  &--message {
    height: 180px;
    margin-bottom: 5px;
    @media (min-width: 650px) {
      margin-bottom: 10px;
    }
  }
}

.form__input-signature {
  display: none;
  position: absolute;
  font-size: 12px;
  text-transform: none;
  padding: 2px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #efefa3;
  width: 180px;
  z-index: 200;
  top: -10px;
  right: 0;
}

.form__input--error:hover + .form__input-signature {
  display: block;
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  height: 40px;
  transition: all 0.2s ease-in-out;
  &--submit {
    color: #ffffff;
    background-color: #76b7ec;
    border: none;
    &:hover {
      background-color: #68a9de;
    }
    &:active {
      background-color: #609dcf;
    }
    @media (min-width: 650px) {
      width: 300px;
    }
  }
  &--input-file {
    background-color: transparent;
    border: 3px solid #76b7ec;
    &:hover {
      background-color: #76b7ec;
      color: #ffffff;
    }
    &:active {
      background-color: #609dcf;
      border-color: #609dcf;
    }
  }
}

.button:disabled {
  background-color: rgb(172, 170, 170);
  cursor: not-allowed;
  &:hover {
    background-color: rgb(172, 170, 170);
  }
}
